<!-- toolbar -->
<toolbar view-selected="{{toolbarSelected}}" on-add-manual-treat="afterDecode(ref)" on-add-treat="onPickNewLote()" on-reset-treat="onResetTreat()" on-save-treat="onSaveTreat()"></toolbar>


<div class="sync-div" ng-show="synching">

    <div class="col-xs-4 col-xs-offset-4 text-center">
        <h5>A processar</h5>
        <span><i class="fa fa fa-spinner fa-spin fa-3x"></i></span>
    </div>

</div>

<!-- Include the  content to show -->
<div class="Treatment">

    <!-- Config needed... -->
    <div class="panel treatment-view" ng-show="mustConfig">
        <div class="row config-row">

            <div class="col-xs-12 text-center">
                <h3>Configuração necessária</h3>
                <h3>para adicionar tratamentos</h3>
                <span><i class="fa fa fa-cogs fa-3x"></i></span>
            </div>

        </div>
    </div>

    <div class="panel treatment-view" ng-show="!mustConfig">

        <div ng-show="view === 'step0'">

            <!-- product img -->
            <div class="col-xs-12 bar-code text-center" ng-show="liveIsReady || lotePicked">
                <!--<span>Artigo</span>-->
                <input id="input-addon" type="file" accept="image/*" capture="camera"
                       onchange="angular.element(this).scope().imageUploaded(this)"/>

                <div id="interactive-live" ng-if="liveStreamAvailable" class="viewport"></div>
                <div id="interactive" ng-if="!liveStreamAvailable" class="viewport"></div>

            </div>

            <!-- form -->
            <div class="row" ng-show="errorMsg.length === 0  && lotePicked">
                <div class="col-xs-10 col-xs-offset-1">
                    <label>Descrição do tratamento</label>
                    <textarea rows="4" cols="50" ng-model="treatmentText"></textarea>
                </div>

            </div>

            <!-- hint -->
            <div class="row treatment-hint" ng-show="!lotePicked" ng-click="onPickNewLote()">
                <div class="col-xs-12 text-center">
                    <span>Registe um novo tratamento:</span>
                </div>

                <div class="col-xs-12 text-center">
                    <span><i class="fa fa-plus fa-2x"></i></span>
                </div>

                <div class="col-xs-12 text-center">
                    <span>"Adicionar Lote" </span>
                </div>
            </div>

        </div>

        <div ng-show="view === 'step1'">
            <div class="row loading-row">

                <div class="col-xs-12 text-center" ng-show="invoicePending === undefined">
                    <h3>A gravar tratamento</h3>
                    <span><i class="fa fa fa-spinner fa-spin fa-3x"></i></span>
                </div>

            </div>
        </div>

        <div ng-show="view === 'step2'">
            <div class="row finish-row">

                <div class="col-xs-12 text-center">
                    <h3>Tratamento gravado com sucesso</h3>
                    <span><i class="fa fa fa-check fa-3x"></i></span>
                </div>

            </div>
        </div>


        <!-- erro msg -->
        <div class="col-xs-12 text-center" ng-show="errorMsg.length > 0">
            <span style="color:firebrick"><i class="fa fa-warning"></i> {{errorMsg}}</span>
        </div>



     </div>

 </div>


