<!-- toolbar -->
<toolbar view-selected="{{toolbarSelected}}" on-reset-settings="resetConnection()" on-finalize-settings="confirmDoc()" on-connect-settings="connect()" on-test-connection="testConnection()"></toolbar>

<div class="sync-div" ng-show="synching">

    <div class="col-xs-4 col-xs-offset-4 text-center">
        <h5>A processar</h5>
        <span><i class="fa fa fa-spinner fa-spin fa-3x"></i></span>
    </div>

</div>

<!-- Include the  content to show -->
<div class="Settings">

    <div class="panel settings-view">

        <div class="row text-center" ng-show="step1">

            <!-- Hint -->
            <div class="col-xs-12 ">
                <h3>Ligação Drive FX</h3>
                <p>Preencha as suas credenciais Drive FX</p>
                <p>e depois</p>
                <p>"Connectar"</p>

            </div>

            <!-- backend Url -->
            <div class="col-xs-12 backend-url">

                <div class="input-group">
                    <label class="input-group-addon"><i class="fa fa-cogs"></i></label>
                    <input type="text" class="form-control" placeholder="Drive FX Url" aria-describedby="basic-addon1" ng-model="backendUrl">
                </div>

            </div>

            <!-- Drive App ID -->
            <div class="col-xs-12 app-id">

                <div class="input-group">
                    <label class="input-group-addon"><i class="fa fa-key"></i></label>
                    <input type="text" class="form-control" placeholder="Drive FX AppID" aria-describedby="basic-addon1" ng-model="appId">
                </div>

            </div>

            <!-- username -->
            <div class="col-xs-12 username">

                <div class="input-group">
                    <label class="input-group-addon"><i class="fa fa-user"></i></label>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="username">
                </div>

            </div>

            <!-- password -->
            <div class="col-xs-12 password">

                <div class="input-group">
                    <label class="input-group-addon"><i class="fa fa-lock"></i></label>
                    <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ng-model="password">
                </div>

            </div>

            <!-- company -->
            <div class="col-xs-12 company">

                <div class="input-group">
                    <label class="input-group-addon"><i class="fa fa-home"></i></label>
                    <input type="text" class="form-control" placeholder="Company" aria-describedby="basic-addon1" ng-model="company">
                </div>

            </div>

            <!-- login now! -->
            <!--<div class="col-xs-12 connect">

                <button type="button" class="btn btn-default btn-lg" ng-click="connect()">
                    Connectar
                </button>

            </div>-->


            <br>
            <div ng-show="errorMsg!==''">
                <p>{{errorMsg}}</p>

            </div>


        </div>

        <div class="row text-center" ng-show="step2">
            <!-- Hint -->
            <div class="col-xs-12 ">
                <h3>Ligação Drive FX</h3>
                <p>As suas credenciais foram gravadas!</p>
                <p>Pode agora iniciar os seus pedidos</p>


            </div>
        </div>


    </div>

</div>

