<!-- Nav bar-->
<navbar view-selected="viewSelected"></navbar>


<!-- Home INI -->
<div class="Home">

    <!-- navbar 'home' -->
    <div class="home-view" ng-show=" viewSelected === 'home'">
        <div class="row text-center">

            <div class="col-xs-12"><i class="fa fa-home"></i></div>
            <div class="col-xs-12"><label>Home</label></div>
            <div class="col-xs-12">
                <p>Escolha uma opção:</p>
                <p> <i class="fa fa-file-text-o"></i> - Novo Pedido</p>
                <p> <i class="fa fa-cogs"></i> - Configure a ligação ao Drive FX</p>
            </div>

        </div>
    </div>

    <!-- navbar 'add' -->
    <div class="panel add-view" ng-class="{'move-add-panel' : viewSelected === 'add'}">
        <div class="row text-center">

            <div class="col-xs-12"><i class="fa fa-file-text-o"></i></div>
            <div class="col-xs-12"><label>Novo Pedido</label></div>
            <div class="col-xs-12">
                <p>Após configurar a </p>
                <p>ligação ao Drive FX:</p>
                <p>
                    <button type="button" class="btn btn-default btn-lg" ng-click="startTicket()">
                        Novo Pedido
                    </button>
                </p>

            </div>
        </div>

    </div>

    <!-- navbar 'settings' -->
    <div class="panel settings-view" ng-class="{'move-settings-panel' : viewSelected === 'settings'}">
        <div class="row text-center">

            <div class="col-xs-12"><i class="fa fa-cogs"></i></div>
            <div class="col-xs-12"><label>Configuração</label></div>
            <div class="col-xs-12">
                <p>Configure a ligação ao seu Drive FX:</p>
                <p>
                    <button type="button" class="btn btn-default btn-lg" ng-click="setupDrive()">
                        Configurar
                    </button>
                </p>

            </div>
        </div>
    </div>

</div><!-- Home END -->
